*,
*:before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}

body {
  color: white;
}
.column {
  float: left;
  width: 33%;
  margin-bottom: 3em;
  padding: 0 80px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(178, 243, 255, 0.2);
  height: 460px;
  transition: all 0.5s ease;
}
.card:hover {
  color: yellow;
}
.cardContainer {
  padding: 0 16px;
}
.cardContainer::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}
.soul-name {
  text-transform: uppercase;
  font-size: 2em;
}
.title {
  text-transform: uppercase;
}
.des,
.title {
  font-family: sans-serif;
}
.soulBtn {
  width: 100%;
  display: inline-block;

  border: 1px solid white;
  background-color: transparent;
  padding: 8px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  color: white;
  font-size: 1em;
  transition: all 0.4s ease;
  font-weight: bold;
}
.soulBtn:hover {
  background-color: white;
  color: black;
}
/* media set */
@media (min-width: 1025px) /* PC */ {
  .card {
    height: 660px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) /* 태블릿 */ {
  .column {
    padding: 0 50px;
  }
}
@media (max-width: 767px) /* 모바일 */ {
  .card {
    height: auto;
  }
  .column {
    width: 100%;
    display: block;
  }
}
