*,
*:before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}

body {
  color: white;
}
/* overlay */
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2;
  /* z-index는 수정 해야 함 */

  transition: all 0.5s ease;
}
.overCardWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.overCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(178, 243, 255, 0.2);
  height: 600px;
  transition: all 0.5s ease;
  padding: 20px;
  width: 600px;
}

.column {
  float: left;
  width: 33%;
  margin-bottom: 3em;
  padding: 0 80px;
}
.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(178, 243, 255, 0.2);
  height: 700px;
  transition: all 0.5s ease;
  padding: 0 16px;
}
.card:hover {
  color: yellow;
}
.cardContainer::after,
.row::after {
  content: '';
  clear: both;
  display: table;
}
.soul-name {
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 0.1em;
}
.title {
  text-transform: uppercase;
}
.des,
.title {
  font-family: sans-serif;
}
.soulBtn {
  width: 100%;
  display: inline-block;
  border: 1px solid white;
  background-color: transparent;
  padding: 8px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  color: white;
  font-size: 1em;
  transition: all 0.4s ease;
  font-weight: bold;
}
.soulBtn:hover {
  background-color: white;
  color: black;
}
/* media set */
@media (min-width: 1025px) /* PC */ {
}
@media (min-width: 768px) and (max-width: 1024px) /* 태블릿 */ {
  .column {
    padding: 0 50px;
  }
  .card {
    height: 500px;
  }
}
@media (max-width: 767px) /* 모바일 */ {
  .card {
    height: auto;
  }
  .column {
    width: 100%;
    display: block;
  }
  .overCard {
    width: 300px;
    padding: 50px;
  }
}
