html {
  height: 100%;
}
body {
  background-color: black;
  color: white;
  font-family: "Bangers", sans-serif;
  animation: fadeIn 2s forwards;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}
a {
  text-decoration: none;
}

/* stars */
.p {
  position: fixed;
  left: 0px;
  top: 50px;
  width: 1px;
  height: 1px;
  background-color: white;
  position: fixed;
  animation-name: particleAnimation;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.p::before {
  position: absolute;
  display: block;
  content: "";
  width: 100px;
  right: 1px;
  top: 0px;
  height: 1px;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(255, 255, 255, 0.4) 100%
  );
}
.p-1 {
  animation-duration: 10s;
}
.p-2 {
  animation-duration: 13s;
  top: 60%;
}
.p-3 {
  animation-duration: 20s;
  top: 90%;
}
.p-4 {
  animation-duration: 15s;
  top: 45%;
}
.p-5 {
  animation-duration: 8s;
  top: 20%;
}

/* banner */
.bannerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 400px;
}
.bannerTitle {
  color: white;
  font-size: 7em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.bannerTitle::after {
  content: "";
  display: block;
  background-color: white;
  height: 2px;
  width: 100%;
  margin-bottom: 0.1em;
}
.bannerSub {
  font-size: 3em;
  animation: 5s subColor infinite alternate;
  letter-spacing: 0.1em;
}

/* titleImg */
.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.titleImg {
  background-image: url(/assets/images/titleImage.png);
  background-position: center;
  width: 1024px;
  height: 576px;
}

/* container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
}

/* playBtn */
.buttonDes {
  font-size: 2em;
  margin-bottom: 0.5em;
  letter-spacing: 0.05em;
}
.playBtn {
  width: 300px;
  height: 70px;
  margin: 0 10px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: transparent;
  text-align: center;
  font-size: 2em;
  cursor: pointer;
  transition: all 0.5s;
  color: white;
}
.playBtn span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.playBtn span::after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.playBtn:hover span {
  padding-right: 25px;
}
.playBtn:hover span::after {
  opacity: 1;
  right: 0;
}

/* star animation */
@keyframes particleAnimation {
  from {
    left: -100px;
  }
  to {
    left: calc(100% + 100px);
  }
}
/* sub colorChanger */
@keyframes subColor {
  0% {
    color: white;
  }
  50% {
    color: #ebe834;
  }
  100% {
    color: #ff3b3b;
  }
}

/* body fadeIn */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* media set */
@media (min-width: 1025px) /* PC */ {
}
@media (min-width: 768px) and (max-width: 1024px) /* 태블릿 */ {
  .bannerTitle {
    font-size: 5em;
  }
  .buttonDes {
    font-size: 1.5em;
  }
}
@media (max-width: 767px) /* 모바일 */ {
  .bannerTitle {
    font-size: 2em;
  }
  .bannerSub {
    font-size: 1.5em;
  }
  .buttonDes {
    font-size: 1em;
  }
  .playBtn {
    width: 200px;
    height: 50px;
    font-size: 1.5em;
  }
  .bannerWrapper {
    height: 200px;
  }
}
